#content{
	width:100%;
	height:100%;
}

#activityList{
	width:100%;
	height:100%;
}

#content img{
	margin-top:18px;

	max-width:90%;

}

#activityList{
	width:100%;
	text-align:center;
}


